Creating a NumPy Array

Lets create a one dimensional Array(below).

In [3]:
import numpy as np
list = [1,2,3,4,5]
array1 = np.array(list)
array1

array([1, 2, 3, 4, 5])

the data type is inferred from the data itself.
- We can set the datatype using "dtype"parameter

In [4]:
lst = [1,2,3,4,5,6,7]
arr = np.array(lst, dtype=float)
arr

array([1., 2., 3., 4., 5., 6., 7.])

We can create Multi-dimensional array using Nested List. Here is the example for the same.

In [9]:
names = [["john", "paul", "cruz"], ["Asmaa", "al", "Awdhi"], ['Avinash', "Kumar", "sheohar"]]
arr = np.array(names)
arr

array([['john', 'paul', 'cruz'],
       ['Asmaa', 'al', 'Awdhi'],
       ['Avinash', 'Kumar', 'sheohar']], dtype='<U7')

You CAN CHECK THE DIMENSION OF THE ARRAY USING "ndim" ATTRIBUTE

In [11]:
arr.ndim

2

"np.arange()" : 

THIS FUNCTION CREATES AN ARRAY WITH REGULARLY SPECED VALUE WITHIN A GIVEN RANGE. IT WORKS VERY SIMILAR TO AS PYTHON ARANGE FUNCTION WHEN APPLIED TO NUMBERS. HERE IS AN EXAMPLE OF HOW TO GENERATE AN ARRAY. THIS WILL CREATE A ONE DIMENSIONAL ARRAY OF NUMBER BETWEEN 0 TO 100 (NOT INCLUDING 100) WITH AN STEP SIZE OF 3

In [18]:
arr = np.arange(0, 100, 3)
arr

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

"np.zeros()" : 

THIS FUCNTION CREATES AN ARRAY WITH ALL ITS ELEMENTS AS ZERO. DEFAULT DATA TYPE IS FLOAT. YOU CAN MENTION THE DATA TYPE PARAMETER

In [26]:
arr = np.zeros((2,2), dtype=float)
arr

array([[0., 0.],
       [0., 0.]])

"np.ones()" : 

THIS FUNCTION CREATE AN ARRAY WITH ALL THE ELEMENTS AS ONES. DEFAULT DATATYPE IS FLOAT. YOU CAN PROVIDE THE DATATYPE USING DTYPE PARAMENTER

In [29]:
arr = np.ones((5,5), dtype=int)
arr

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

"numpy.random.generator.integers" : 

THIS FUNCTION IS USED BY THE NUMPY LIBRARY TO GENERATE RANDOM INTEGERS WITHIN SPECIFIED RANGE OR WITH THE SPECIFIED SET OF VALUES.

Letâ€™s say we want to create an array of random integers from 0 to 9, with 2 rows and 4 columns. First, we will create a random number generator, and then we will use the generator to generate the array. Here is how we can use this function to achieve that:

In [30]:
# CREATE A RANDOM NUMBER GENERATOR
rng = np.random.default_rng()

# GENERATE RANDOM INTEGER FROM 0 TO 9

rng.integers(low=0, high=100, size=(5,5))

array([[77, 72, 25, 69, 48],
       [ 9, 58, 97, 58, 55],
       [23,  7, 66, 21, 17],
       [58, 50, 53, 24, 23],
       [79, 94,  9, 11, 93]], dtype=int64)

Note: 

THE OUTPUT WILL ALWAYS VARY AS THEY ARE GENERATED RANDOMLY.

"numpy.random.generator.random":

THIS METHOD CREATES AN ARRAY OF RANDOM FLOATS. 

lETS CREATE AN ARRAY OF RANDOM FLOATS BETWEEN 0 AND 1, IN THE SHAPE OF 2 ROWS AND 5 COLUMNS.

In [35]:
rng = np.random.default_rng()
rng.random((2,5))

array([[0.70169682, 0.23285972, 0.46247919, 0.84848038, 0.98612345],
       [0.74843469, 0.14500038, 0.04583868, 0.55097577, 0.16273082]])

SINCE OUTPUT IS RANDOM, YOU WILL GET DIFFERENT RESULT EVERYTIME YOU EXECUTE IT. TO ENSURE THAT THE OUTPUT IS REPRODUEABLE, WE SET THE "seed = 24". THIS MEANS THE THE GENERATED RANDOM STATE WILL BE REPEATED EVERYTIME YOU WILL RUN THE CODE.

In [44]:
rng = np.random.default_rng(seed=24)
rng.random((2,5))

array([[0.33026884, 0.40517732, 0.57473782, 0.50639977, 0.56421251],
       [0.56968731, 0.87411653, 0.08643046, 0.74247527, 0.82036726]])

ACCESSING ARRAY ELEMENTS : 

NUMPY ARRAY ARE INDEXED USING INTEGER STARTING FROM ZERO. HERE ARE FEW WAYS OF ACCESSING THE NUMPY ARRAY ELEMENTS.

1. SLICING
   This is similar to Python lists, where you can access a range of elements using a colon (:).

In [45]:
names = [["avinash", "kumar", "dubai"], ["raju", "babu", "sheohar"]]
arr = np.array(names)
arr

array([['avinash', 'kumar', 'dubai'],
       ['raju', 'babu', 'sheohar']], dtype='<U7')

In [48]:
select_sheohar = arr[1,2]
select_sheohar

'sheohar'

In [49]:
select_babu = arr[1,1]
select_babu

'babu'

In [50]:
select_avinash = arr[0,0]
select_avinash

'avinash'

LETS SAY YOU WANT TO SELECT THE NAMES "babu" AND "sheohar". HERE IS HOW YOU CAN USE SLICING FOR SUCH AN OPERATION

In [51]:
select_babu_sheohar = arr[1,1:]
select_babu_sheohar

array(['babu', 'sheohar'], dtype='<U7')

FANCY INDEXING: 
    This allows you to select elements based on a list of indices. LETS SAY IF YOU WANT TO SELECT THE ITEMS "dubai" and "sheohar" from the array, here is how we do it using fancy indexing.

In [60]:
# Creating an elements indices

select_dubai = np.array([0,2])
select_sheohar = np.array([1,2])

# Using fancy indexing to select

arr[select_dubai]

IndexError: index 2 is out of bounds for axis 0 with size 2